@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400;1,500&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #565656;
  background-color: #edf4f6 !important;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --bs-blue: #0d6efd;
  --bs-red: #ff2748;
  --bs-orange: #ff8100;
  --bs-green: #00a524;
  --bs-primary-light: #dbe9ff;
  --bs-white: #fff;
  --bs-border: #ccc;
}

a {
  text-decoration: none;
  color: gray;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  position: sticky;
  z-index: 1000;
  top: 0px;
}

.modal-backdrop.show {
  opacity: 0.2;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

@media (min-width: 576px) {

  .contener-xxl,
  .contener-lg,
  .contener-md,
  .contener-sm {
    width: 540px;
  }
}

@media (min-width: 768px) {

  .contener-xxl,
  .contener-lg,
  .contener-md,
  .contener-sm {
    width: 720px;
  }
}

@media (min-width: 992px) {

  .contener-xxl,
  .contener-lg,
  .contener-md,
  .contener-sm {
    width: 960px;
  }
}

@media (min-width: 1200) {

  .contener-xxl,
  .contener-lg,
  .contener-md,
  .contener-sm {
    width: 1140px;
  }
}

@media (min-width: 1400px) {

  .contener-xxl,
  .contener-lg,
  .contener-md,
  .contener-sm {
    width: 1320px;
  }
}

.input-group {
  border-radius: 6px;
  border: 1px solid #ccc;
}

#Qty {
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-radius: 6px;
  border: 1px solid gray !important;
}

.MuiInputBase-root {
  width: 80px !important;
  height: 40px !important;
}

.MuiPaper-root {
  --Paper-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgb(0 0 0 / 0%),
    0px 1px 3px 0px rgb(0 0 0 / 0%) !important;
}